{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "react/prop-types": ["error", { "ignore": ["className"] }],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_", "caughtErrorsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/consistent-type-imports": ["error"]
  },
  "overrides": [
    {
      "files": "./@web/components/ui/**.*",
      "rules": {
        "react/prop-types": "off",
        "react/no-unknown-property": "off"
      }
    },
    {
      "files": "./@web/hooks/**.*",
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ]
}
