---
import '@web/core/global.css'
import { ScrollArea } from '@web/components/ui/scroll-area'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/calsans-semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/fonts/inter.ttf" as="font" type="font/ttf" crossorigin />
    <meta name="generator" content={Astro.generator} />

    <script>
      import { useSystemStore } from '@web/stores/system'
      import { match } from 'ts-pattern'

      const initTheme = () => {
        const theme = match(useSystemStore.getState().theme)
          .with('system', () =>
            window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light',
          )
          .with('light', () => 'light')
          .with('dark', () => 'dark')
          .exhaustive()

        if (theme === 'light') {
          document.documentElement.classList.remove('dark')
        } else {
          document.documentElement.classList.add('dark')
        }
      }

      initTheme()
      document.addEventListener('astro:after-swap', initTheme)

      useSystemStore.subscribe(
        (state) => state.theme,
        () => initTheme(),
      )
    </script>

    <slot name="head-bottom" />
  </head>
  <body>
    <ScrollArea className="h-screen" client:load>
      <slot />
    </ScrollArea>
  </body>
</html>
