---
import { cn } from '@web/lib/utils'
import NavList from './nav-list.astro'
import { buttonVariants } from '@web/components/ui/button'
import { NavMobile } from './nav-mobile'
import { env } from '@web/lib/env'
import { Logo } from '@web/components/logo'

type Props = {
  className?: string
}

const { className } = Astro.props
---

<header class={cn('flex items-center h-16 md:h-18 z-50 sticky top-0 bg-background', className)}>
  <div class="relative container flex items-center justify-between w-full">
    <div class="flex items-center gap-6 md:gap-8 lg:gap-10">
      <a href="/" class="hidden items-center space-x-2 md:flex">
        <Logo size={36} />
      </a>

      <div class="block md:hidden">
        <NavMobile side="left" client:load>
          <div>
            <a href="/" class="flex items-center gap-2 p-2">
              <Logo size={36} />
            </a>

            <div class="flex flex-col mt-6 gap-3">
              <NavList />
            </div>
          </div>
        </NavMobile>
      </div>

      <div class="hidden md:flex">
        <NavList />
      </div>
    </div>

    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 md:hidden">
      <Logo variant="icon" size={36} />
    </div>

    <nav>
      <a
        href={env.WEB_BASE_URL}
        class={cn(buttonVariants({ variant: 'secondary', size: 'sm' }), 'px-4')}
      >
        Get started
      </a>
    </nav>
  </div>
</header>
