---
import { cn } from '@web/lib/utils'

const links = [
  {
    title: 'Features',
    href: '/#features',
  },
  {
    title: 'Pricing',
    href: '/pricing',
  },
  {
    title: 'Blog',
    href: '/blog',
  },
  {
    title: 'Documentation',
    href: '/docs',
  },
]

const { pathname } = Astro.url
---

{
  links.map((link) => (
    <a
      href={link.href}
      class={cn(
        'flex items-center text-base font-medium transition-colors hover:text-foreground/80 sm:text-sm text-foreground/60',
        pathname.startsWith(link.href) && 'text-foreground',
      )}
    >
      {link.title}
    </a>
  ))
}
