---
import { navigationMenuTriggerStyle } from '@web/components/ui/navigation-menu'

const links = [
  {
    title: 'Features',
    href: '/#features',
  },
  {
    title: 'Pricing',
    href: '/pricing',
  },
  {
    title: 'Blog',
    href: '/blog',
  },
  {
    title: 'Documentation',
    href: '/docs',
  },
]
---

{
  links.map((link) => (
    <a href={link.href} class={navigationMenuTriggerStyle()}>
      {link.title}
    </a>
  ))
}
