---
import BaseLayout from '@content/layouts/base.astro'
import { Button } from '@web/components/ui/button'
---

<BaseLayout>
  <h1 class="text-destructive">Astro</h1>
  <div class="h-screen bg-red-100"></div>
  <Button>xin chao</Button>
</BaseLayout>
