---
import BaseLayout from '@content/layouts/base.astro'
import { Button } from '@web/components/ui/button'
import { SEO } from 'astro-seo'
import Header from '@content/components/navigation/header.astro'
import { env } from '@web/lib/env'
---

<BaseLayout>
  <SEO
    slot="head-bottom"
    title="Dinstack - content"
    description="Content for SEO"
    openGraph={{
      basic: {
        title: 'Dinstack - content',
        type: 'website',
        image:
          'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
      },
    }}
    twitter={{
      creator: '@dinsterizer',
    }}
    extend={{
      // extending the default link tags
      link: [{ rel: 'icon', href: '/favicon.ico' }],
      // extending the default meta tags
      meta: [
        {
          name: 'twitter:image',
          content:
            'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
        },
        { name: 'twitter:title', content: 'Dinstack - content' },
        { name: 'twitter:description', content: 'Content for SEO' },
      ],
    }}
  />

  <Header />

  <h1 class="text-destructive">Astro</h1>
  <div class="h-screen bg-red-100">{env.CONTENT_BASE_URL}</div>
  <Button>xin chao</Button>
</BaseLayout>
